<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="orderForm">
      <div class="form-group">
        <label for="orderNum">Order Number</label>
        <input type="text" class="form-control" id="orderNum" name="orderCode" formControlName="orderCode" aria-describedby="emailHelp" placeholder="Enter Doctor Name ">
       
      </div>
      <div class="form-group">
        <label for="orderOfTeeth">Order of Teeth</label>
        <input type="text" class="form-control" id="orderOfTeeth" name="teethOrder" formControlName="teethOrder" aria-describedby="emailHelp" placeholder="Enter Doctor Number ">
       
      </div>
    
      <div class="form-group">
        <label for="type">Operation</label>
        <select class="form-control" id="type" name="orderType" formControlName="orderType">
          <option *ngFor="let op of operations " [value]="op.operationName"> {{op.operationName}}</option>
        </select>
        <!-- <input type="text" class="form-control" id="type" name="orderType" formControlName="orderType" aria-describedby="emailHelp" placeholder="Enter Doctor Address ">   -->
      </div>
    
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status" formControlName="status">
            <option *ngFor="let st of statuses " [value]="st"> {{st}}</option>
          </select>
        <!-- <input type="text" class="form-control" id="status" name="status" formControlName="status" aria-describedby="emailHelp" placeholder="Enter Doctor Address ">   -->
      </div>
    
      <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" id="cost" name="cost" formControlName="cost" aria-describedby="emailHelp" placeholder="Enter Doctor Address ">  
      </div>
    
      <div class="form-group">
        <label for="delivery">Delivery Date</label>
        <input type="date" class="form-control" id="delivery" name="deliveryDate" formControlName="deliveryDate" aria-describedby="emailHelp" placeholder="Enter Doctor Address ">  
      </div>
    
      <div class="form-group">
        <label for="technId">Technician Name</label>
        <input type="text" class="form-control" id="technId" name="technicianName" formControlName="technicianName" aria-describedby="emailHelp" placeholder="Enter Doctor Address ">  
      </div>
     
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
      <button type="submit" (click)="save()" [disabled]="!orderForm.valid" class="btn btn-primary">Submit</button>
      <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
  </div>


</ng-template>
<ng-template #deletetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{modalBody}}
    </div>
    <div class="modal-footer">
     <button class="btn btn-primary" *ngIf="!isDeleting" (click)="confirm()"> Ok</button>
     <button class="btn btn-primary" (click)="cancel()"> No</button>
    </div>
  </ng-template>
  <div class="row">
      <div class="col-lg-6 form-group">
          <button (click)="openModal(template, null)" class="btn btn-primary" ><i class="fa fa-plus"> Add new order</i></button>
      </div>
      <div class="col-lg-6 form-group form-inline"> 
      <input type="search"  class="col-lg-offset-5 col-lg-5 form-control" [(ngModel)]="searchText" placeholder="search by order code" />
      <button (click)="getResult()" class=" col-lg-3 btn btn-primary form\ "  > Search</button>
      </div>
      </div>
 

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Number</th>
      <th scope="col">Order of Teeth</th>
      <th scope="col">Type Of Order</th>
      <th scope="col">Status</th>
      <th scope="col">Cost</th>
      <th scope="col">Delivery Date</th>
      <th scope="col">Technician Name</th>     
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let order of orders; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{order.orderCode}}</td>
          <td> {{order.teethOrder}}</td>
          <td>{{order.orderType}}</td>
          <td>{{order.status}}</td>
          <td>{{order.cost}}</td>
          <td>{{order.deliveryDate | date: short}}</td>
          <td>{{order.technicianName}}</td>
          <td>
            <span (click)="openDeleteModal(deletetemplate , order)" class="col-4"><i class="fa fa-trash"></i></span>
          <span (click)="openModal(template, order)" class="col-4"><i class="fa fa-pencil"></i> </span>
         <!-- <span (click)="openModal(template)" class="col-4"> <i class="fa fa-eye"></i></span> -->
          </td>
        </tr>      
  </tbody>
</table>