<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{isNew ? 'Create new technician' : 'Edit technician'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="technicianForm">

      <div class="form-group">
          <label for="technId">Technician Name</label>
          <input type="text" class="form-control" id="technId" name="technicianName" formControlName="technicianName" aria-describedby="emailHelp" placeholder="Enter Technician Name ">  
        </div>
  
      
  
   
    <div class="form-group">
      <label for="part-rate">Part Rate</label>
      <input type="number" class="form-control" id="part-rate" name="partRate" formControlName="partRate" aria-describedby="emailHelp" placeholder="Enter Part Rate ">
     
    </div>
  
    <div class="form-group">
      <label for="month-rate">Monthly Rate</label>
      <input type="number" class="form-control" id="month-rate" name="monthlyRate" formControlName="monthlyRate" aria-describedby="emailHelp" placeholder="Enter Monthly Rate ">  
    </div>
  </form>
  </div>
  <div class="modal-footer">
      <button type="submit" (click)="save()" [disabled]="!technicianForm.valid" class="btn btn-primary">Submit</button>
    <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
  </div>
</ng-template>
<ng-template #deletetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{modalBody}}
    </div>
    <div class="modal-footer">
     <button class="btn btn-primary" *ngIf="!isDeleting" (click)="confirm()"> Ok</button>
     <button class="btn btn-primary" (click)="cancel()"> No</button>
    </div>
  </ng-template>
  <div class="row">
      <div class="col-lg-6 form-group">
          <button (click)="openModal(template, null)" class="btn btn-primary" ><i class="fa fa-plus"> Add new technician</i></button>
      </div>
      <div class="col-lg-6 form-group form-inline"> 
      <input type="search"  class="col-lg-offset-5 col-lg-5 form-control" [(ngModel)]="searchText" placeholder="search by technician name" />
      <button (click)="getResult()" class=" col-lg-3 btn btn-primary form\ "  > Search</button>
      </div>
      </div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Technician Name</th>
      <th scope="col">Part Rate</th>
      <th scope="col">Monthly Rate</th>
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let technician of technicians; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{technician.technicianName}}</td>
          <td>{{technician.partRate}}</td>
          <td>{{technician.monthlyRate}}</td>
          <td>
            <span (click)="openDeleteModal(deletetemplate , technician)" class="col-4"><i class="fa fa-trash"></i></span>
          <span (click)="openModal(template, technician)" class="col-4"><i class="fa fa-pencil"></i> </span>
         <!-- <span (click)="openModal(template)" class="col-4"> <i class="fa fa-eye"></i></span> -->
          </td>
        </tr>
  </tbody>
</table>