<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="itemForm">
      <div class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" id="name" name="itemName" formControlName="itemName" aria-describedby="emailHelp" placeholder="Enter Item Name ">
       
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type" formControlName="type" aria-describedby="emailHelp" placeholder="Enter Type ">
       
      </div>
    
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" formControlName="price" aria-describedby="emailHelp" placeholder="Enter Price ">  
      </div>
    
      <div class="form-group">
        <label for="qty">Quantity</label>
        <input type="number" class="form-control" id="qty" name="quantity" formControlName="quantity" aria-describedby="emailHelp" placeholder="Enter Quantity ">  
      </div>

      <div class="form-group">
          <label for="uom">Unit</label>
          <select class="form-control" name="uom" formControlName="uom">
              <option value="gm">gm</option>
              <option value="milli.gm">milli.gm</option>
              <option value="kilo.gm">kilo.gm</option>
            </select>
        </div>
    
      <div class="form-group">
        <label for="validateDate">Validate Date</label>
        <input type="date" class="form-control" id="validateDate" name="validateDate" formControlName="validateDate" aria-describedby="emailHelp" placeholder="Enter Validate Date ">  
      </div>
     
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
      <button type="submit" (click)="save()" [disabled]="!itemForm.valid" class="btn btn-primary">Submit</button>
      <button (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
  </div>


</ng-template>
<ng-template #deletetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{modalBody}}
    </div>
    <div class="modal-footer">
     <button class="btn btn-primary" (click)="confirm()"> Ok</button>
     <button class="btn btn-primary" (click)="cancel()"> No</button>
    </div>
  </ng-template>
  <div class="row">
      <div class="col-lg-6 form-group">
          <button (click)="openModal(template, null)" class="btn btn-primary" ><i class="fa fa-plus"> Add new item</i></button>
      </div>
      <div class="col-lg-6 form-group form-inline"> 
      <input type="search"  class="col-lg-offset-5 col-lg-5 form-control" [(ngModel)]="searchText" placeholder="search by item name" />
      <button (click)="getResult()" class=" col-lg-3 btn btn-primary form\ "  > Search</button>
      </div>
      </div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Validate Date</th>
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of items; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.itemName}}</td>
          <td>{{item.type}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.validateDate | date:short}}</td>
          <td>
            <span (click)="openDeleteModal(deletetemplate , item)" class="col-4"><i class="fa fa-trash"></i></span>
          <span (click)="openModal(template, item)" class="col-4"><i class="fa fa-pencil"></i> </span>
         <!-- <span (click)="openModal(template)" class="col-4"> <i class="fa fa-eye"></i></span> -->
          </td>
        </tr>
  </tbody>
</table>